* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: silver;
}

.title {
  padding: 30px;
  text-transform: uppercase;
}
.principal-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container {
  padding: 10px;
}
.input-container {
  text-align: center;
  width: 100%;
  background-color: blueviolet;
}

.input {
  font-size: 20px;
}

.button {
  padding: 10px 50px;
  background-color: crimson;
}

.favorites-container {
  width: 40%;
  background-color: chartreuse;
}
.favorites-container__title {
  padding: 10px;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.movie--favorite {
  border: 2px solid red;
}

.searches-container {
  width: 59%;
  background-color: lightseagreen;
}

.searches-container__title {
  padding: 10px;
  padding-bottom: 30px;
  text-transform: capitalize;
}

.list__item {
  list-style: none;
  padding: 40px;
  border-bottom-style: groove;
}

.title__item {
  padding-bottom: 20px;
}
